body{
    background-color: rgba(206, 245, 232, 0.267);
}

h1{
    color: rgb(247, 140, 140);
    background-color: antiquewhite;
}

mark{
    background-color: rgb(0, 37, 248);
}
p{
    text-align: justify;
}
